.box{red;
	background-color: blue;
	float: center;
	
}
.loginLabel{
	background-color: pink;
	padding: 20px;
	text-align: center;

}
.forms{
	background-color: red;
	display: flex;
	flex-direction: column;
	

}
html{
	background-color: yellow;
	background-image: 
}
.text{
	margin: 10px;
}