html{
	background-image: linear-gradient(to right, #003F87, #87CEFA 50%, #BFEFFF);
}
body{
	}
h1{
	color: white;
	background-image: linear-gradient(to right, #003F87, #87CEFA 50%, #BFEFFF);
	text-align: center;
	position: static;
	
}
.performs,.techform{
	background-color: white;
	width: 35%;
	margin: auto;
}
.text,.email,.password,.inform,select,.butn,.date{
	
	-webkit-appearance: none;

	
	
	font-size: 100%;
	box-sizing: border-box;
	padding: 3px;
	
	border-radius: 5px;
	width: 90%;
	margin: 3px;
}
.butn{
	background-color: #003F87;
	color: white;
}
option,input[type=radio]{
	color:#808080;
}
.rad{
	display: flex;
	flex-wrap: 
}
